{% extends "app/layout.html" %}
{% block content %}

{% block styles %}
    <style>
        {% comment %} .jobs-container {
            background-color:#eee;
        } {% endcomment %}

        .jobs {
            height: 30vh !important;
        }
    </style>
{% endblock %}

<br>
<br>
<div class="jumbotron">
    <h1>Fast Jobs</h1>
    <p class="lead">Fast Jobs Busque emprego grátis! No Fast Jobs você pode pesquisar milhões de vagas e decidir a trajetória da sua carreira. Temos ferramentas de busca, currículos e etc.</p>
    {% comment %} <p><a href="#" class="btn btn-primary btn-large">Saiba Mais &raquo;</a></p> {% endcomment %}
</div>

<div class="jobs-container" id="jobs"></div>

<div class="row">
    <div class="col-md-4">
        {% comment %} <h2>Getting started</h2>
        <p>
            Fast Jobs gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p> {% endcomment %}
    </div>
    <div class="col-md-4">
        {% comment %} <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p> {% endcomment %}
    </div>
    <div class="col-md-4">
        {% comment %} <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p> {% endcomment %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    let jobs = document.querySelector('#jobs');
    axios.get('/vagas').then(({ data }) => {
        const html = $(data).find('[data-jobs]')
        $(jobs).append(html);
    });
</script>

{% endblock %}

