{% if user.is_authenticated %}
<form id="logoutForm" action="{% url 'logout' %}" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Hello {{ user.username }}!</span></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>

        {% comment %} <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li> {% endcomment %}
    </ul>
</form>

{% else %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'account_login' %}">Login</a></li>
    {% comment %} <!-- <li><a href="{% url 'login' %}">Log in</a></li> --> {% endcomment %}
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'account_signup' %}">Registrar</a></li>
    {% comment %} <!-- <li><a href="{% url 'register' %}">Register</a></li> --> {% endcomment %}
</ul>

{% endif %}
