{% extends "app/layout.html" %}

{% block content %}

<div class="board-header">
    <header>
      <h2 class="board-header-title">Últimas oportunidades cadastradas</h2>
      <br>
    </header>
</div>
<div data-jobs class="jobs" style="max-height: 67vh; overflow: auto">
  {% for job in vagas %}
    <ul class="jumbotron">
      <span class="title">{{job.titulo}}</span>
        <br>
        <br>
        <p>{{job.descricao}}</p>
        <br>
        <span class="price">R$ {{job.salario}}</span>
        <br>
    </ul>
  {% endfor %}
</div>
{% endblock %}
